@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,300;1,500&display=swap');

ul{
    list-style: none;
    margin-left: 10px;
    text-decoration: none;
    

}
li {
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
    
}

div .search{
    text-align: center;
    
}


div .name{
    text-align: center;

}

